<div class="bf-container">
  <div class="bf-breadcrumbs">
    <a href="/" class="bf-breadcrumbs__link">Home</a>
    <a href="/" class="bf-breadcrumbs__link">Computers</a>
    <a href="/" class="bf-breadcrumbs__link">Computers</a>
  </div>
  <div class="bf-store__title">
    Automotive Deals <span class="bf-store__deals-count">75 Deals found</span>
  </div>
  <p class="bf-store__description">
    Looking to do some DIY projects or home improvements this weekend?
    Decided it’s time to get in the garden and starting tidying up your
    neglected yard? Looking to do some DIY projects or
    home improvements this weekend? Decided it’s time to
    get in the garden and starting tidying up your neglected yard?
  </p>
  <nav class="related-links">
    <span class="related-links__item related-links__item--label">
      Related:
    </span>
    <a class="related-links__item">
      Cell Phones & Accessories
    </a>
    <a class="related-links__item">
      Electronic
    </a>
    <a class="related-links__item">
      Automative accessories
    </a>
  </nav>
  <form class="filters">
    <div class="filters-block">
      <p class="filters-block__name">
        Sort By:
      </p>
      <div class="filters-block__current">
        {{appliedFilters.sortBy}}
      </div>
      <div class="filters-block__options" >
        <div class="filters-block__option"
             *ngFor="let option of filters.sortBy;
             let i = index">
          <input type="radio"
                 [value]="option.name"
                 [(ngModel)]="appliedFilters.sortBy"
                 [name]="option.value"
                 class="filters-block__filter">
          <label>{{ option.name }}</label>
        </div>
      </div>
    </div>
    <div class="filters-block">
      <p class="filters-block__name">
        Price ranges:
      </p>
      <div class="filters-block__current">
        {{ appliedFilters.priceRanges | keys }}
      </div>
      <div class="filters-block__options" >
        <div class="filters-block__option"
             *ngFor="let option of filters.priceRanges">
          <input type="checkbox"
                 [ngModel]="appliedFilters.priceRanges[option]"
                 [name]="option"
                 (ngModelChange)="updateFilters($event, 'priceRanges', option)"
                 class="filters-block__filter">
          <label>{{ option }}</label>
        </div>
      </div>
    </div>
    <div class="filters-block">
      <p class="filters-block__name">
        Brands:
      </p>
      <div class="filters-block__current">
        {{ appliedFilters.brands | keys }}
      </div>
      <div class="filters-block__options" >
        <div class="filters-block__option"
             *ngFor="let option of filters.brands">
          <input type="checkbox"
                 [ngModel]="appliedFilters.brands[option]"
                 [name]="option"
                 (ngModelChange)="updateFilters($event, 'brands', option)"
                 class="filters-block__filter">
          <label>{{ option }}</label>
        </div>
      </div>
    </div>
    <div class="filters-block">
      <button (click)="resetFilters()" class="filters-block__name filters-block__name--button">
        Clear Filters
      </button>
    </div>
  </form>
</div>
