<link rel="stylesheet" href="products-store.component.scss">
<div class="bf-container">
  <p class="bf-breadcrumbs">

  </p>
  <div class="bf-store__title">
    Automotive Deals <span class="bf-store__deals-count">75 Deals found</span>
  </div>
  <p class="bf-store__description">
    Looking to do some DIY projects or home improvements this weekend?
    Decided it’s time to get in the garden and starting tidying up your
    neglected yard? Looking to do some DIY projects or
    home improvements this weekend? Decided it’s time to
    get in the garden and starting tidying up your neglected yard?
  </p>
  <nav class="related-links">
    <span class="related-links__item related-links__item--label">
      Related:
    </span>
    <a class="related-links__item">
      Cell Phones & Accessories
    </a>
    <a class="related-links__item">
      Electronic
    </a>
    <a class="related-links__item">
      Automative accessories
    </a>
  </nav>
  <div class="filters">
    <div class="filter-block">
      <p class="filter-block__name">
        Sort by
      </p>
      <div class="filter-block__current">
        Best match
      </div>
      <div class="filter-block__filters">
        <div class="filter-block__filter"></div>
      </div>
    </div>
  </div>
</div>
