<footer class="bf-footer">
  <div class="bf-container">
    <nav class="bf-footer-nav">
      <div class="bf-footer-nav__block">
        <a class="bf-footer-nav__item" href="#">Computers Deals</a>
        <a class="bf-footer-nav__item" href="#">Electronics Deals</a>
        <a class="bf-footer-nav__item" href="#">Appliances Deals</a>
        <a class="bf-footer-nav__item" href="#">Automotive Deals</a>
        <a class="bf-footer-nav__item" href="#">Beauty & Health Deals</a>
      </div>
      <div class="bf-footer-nav__block">
        <a class="bf-footer-nav__item" href="#">Sports & Outdoors Deals</a>
        <a class="bf-footer-nav__item" href="#">Kids Goods Deals</a>
        <a class="bf-footer-nav__item" href="#">Computers Deals</a>
        <a class="bf-footer-nav__item" href="#">Fitbit Deals</a>
        <a class="bf-footer-nav__item" href="#">Galaxy Deals</a>
      </div>
      <div class="bf-footer-nav__block">
        <a class="bf-footer-nav__item" href="#">Gaming Chairs Deals</a>
        <a class="bf-footer-nav__item" href="#">Smartphones Deals</a>
        <a class="bf-footer-nav__item" href="#">Perfumes Deals</a>
        <a class="bf-footer-nav__item" href="#">iPhone Deals</a>
        <a class="bf-footer-nav__item" href="#">Nintendo Switch Deals</a>
      </div>
      <div class="bf-footer-nav__block">
        <a class="bf-footer-nav__item bf-footer-nav__item--uppercase" href="#">TERMS & CONDITIONS</a>
        <a class="bf-footer-nav__item bf-footer-nav__item--uppercase" href="#">PRIVACY</a>
        <a class="bf-footer-nav__item bf-footer-nav__item--uppercase" href="#">CONTACT</a>
        <p class="bf-footer-nav__item bf-footer-nav__item--copyright">
          <span class="bf-footer-nav__item--copyright-line">Copyright © 2017</span>by www.blackfridaydeals.co
        </p>
      </div>
    </nav>
  </div>
</footer>
