<section class="bf-showcase">
  <h1 class="bf-showcase__title"><span class="bf-showcase__the-best">The Best</span> Black Friday Deals</h1>
  <p class="bf-showcase__subtitle">From over 1,000 stores</p>
  <div class="bf-shops-list">
    <div class="bf-shop-logo">
      <img src="assets/amazon-logo-plain.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/target.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/best-buy-logo.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/e-bay-logo.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/new-walmart-logo.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/kohls.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/lowes.png" alt="">
    </div>
    <div class="bf-shop-logo">
      <img src="assets/sears-logo.png" alt="">
    </div>
  </div>
</section>
<div class="bf-container">
  <div class="bf-section-title">
    <div class="bf-section-title__text">
      <h2>popular categories</h2>
    </div>
  </div>
  <div class="bf-categories-list">
    <div class="bf-category-block bf-category-block--light-blue">
      <div class="bf-category-title">
        <p class="bf-category-title__text bf-category-title__text--name">
          Electronics
        </p>
        <p class="bf-category-title__text bf-category-title__text--deal">
          Deals
        </p>
      </div>
      <div class="bf-category-block__product-image">
        <img src="assets/comp.png" alt="">
      </div>
      <button class="bf-deal-btn">
        216 Deals
      </button>
    </div>
    <div class="bf-category-block bf-category-block--light-violet">
      <div class="bf-category-title">
        <p class="bf-category-title__text bf-category-title__text--name">
          Appliances
        </p>
        <p class="bf-category-title__text bf-category-title__text--deal">
          Deals
        </p>
      </div>
      <div class="bf-category-block__product-image">
        <img src="assets/machine.png" alt="">
      </div>
      <button class="bf-deal-btn">
        216 Deals
      </button>
    </div>
    <div class="bf-category-block bf-category-block--turquoise">
      <div class="bf-category-title">
        <p class="bf-category-title__text bf-category-title__text--name">
          Car & Accessories
        </p>
        <p class="bf-category-title__text bf-category-title__text--deal">
          Deals
        </p>
      </div>
      <div class="bf-category-block__product-image">
        <img src="assets/tire.png" alt="">
      </div>
      <button class="bf-deal-btn">
        216 Deals
      </button>
    </div>
    <div class="bf-category-block bf-category-block--violet">
      <div class="bf-category-title">
        <p class="bf-category-title__text bf-category-title__text--name">
          Clothing
        </p>
        <p class="bf-category-title__text bf-category-title__text--deal">
          Deals
        </p>
      </div>
      <div class="bf-category-block__product-image">
        <img src="assets/hoodie.png" alt="">
      </div>
      <button class="bf-deal-btn">
        216 Deals
      </button>
    </div>
    <div class="bf-category-block bf-category-block--light-blue">
      <div class="bf-category-title">
        <p class="bf-category-title__text bf-category-title__text--name">
          Home & Kitchen
        </p>
        <p class="bf-category-title__text bf-category-title__text--deal">
          Deals
        </p>
      </div>
      <div class="bf-category-block__product-image">
        <img src="assets/sieve.png" alt="">
      </div>
      <button class="bf-deal-btn">
        216 Deals
      </button>
    </div>
  </div>
  <div class="bf-section-title">
    <div class="bf-section-title__text">
      <h2>Hot deals</h2>
    </div>
  </div>
  <products></products>
</div>
